<h1>Calculator</h1>

<div ng-controller="calculatorCtrl">
  <form ng-submit="calculator()">
    <p>Amount of credit</p>
    <input type="number" ng-model="credit"/>
    <p>Month</p>
    <input type="number" ng-model="time"/>
    <p>Percent</p>
    <input type="number" ng-model="percent"/>
    <br/><br/>
    <lable>
      <input type="radio" ng-model="method" value="annuity">
      Annuity method
    </lable>
    <lable>
        <input type="radio" ng-model="method" value="simple">
      Simple method
    </lable>
    <br/><br/>
    <input type="submit" value="Calcylator"/>
  </form>
  <div>
    <table ng-show="statistic.length > 0">
      <thead>
        <tr>
          <th>Month</th>
          <th>Debt</th>
          <th>Amortization Debt</th>
          <th>Assessed Percent</th>
          <th>Month Pay</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="log in statistic">
          <td>{{log.month}}</td>
          <td>{{log.debt}}</td>
          <td>{{log.amortization_debt}}</td>
          <td>{{log.assessed_percent}}</td>
          <td>{{log.month_pay}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
