<!DOCTYPE html>
<html ng-app="calculator">
<head>
  <title>Calculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<style>
  table td {
      border: 1px solid black;
  }
</style>

<%= yield %>

</body>
</html>
